@media screen and (max-width: 480px) {
  .switch-container {
    position: fixed;
    bottom: 18px;
    right: 23px;
    z-index: 100;
  }
}

@media screen and (min-width: 480px) {
  .Splish-logo {
    width: 200 px;
    height: 200 px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* .App-logo {
    animation: App-logo-spin infinite 20s linear;
  } */
  .Splish-logo {
    animation: Splish-logo-spin infinite 20s linear;
  }
}

@keyframes Splish-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}